**/FortranBuild_OSX/
.DS_Store
*.so
*.pyc
source/openwarpgui/bundled/.DS_Store
source/openwarpgui/bundled/paraview_linux/.DS_Store
source/openwarpgui/nemoh/.DS_Store
source/openwarpgui/nemoh/build/temp.macosx-10.6-x86_64-2.7/solver_fortran.o
