**/FortranBuild_OSX/
.DS_Store
*.so
*.pyc
source/openwarpgui/bundled/.DS_Store
source/openwarpgui/bundled/paraview_linux/.DS_Store
source/openwarpgui/nemoh/.DS_Store
source/openwarpgui/nemoh/build/temp.macosx-10.6-x86_64-2.7/solver_fortran.o
source/automated_test.log
source/automated_test/Test10/db.hdf5
*.tec
source/automated_test/Test10/postprocessing_log.txt
source/automated_test/Test10/simulation_log.txt
source/automated_test/Test11/db.hdf5
source/automated_test/Test11/postprocessing_log.txt
source/automated_test/Test11/simulation_log.txt
source/automated_test/Test2/test01.log
source/automated_test/Test3/test11.log
source/automated_test/Test3/test13.log
source/automated_test/Test4/test09.log
source/automated_test/Test5/test02.log
source/automated_test/Test6/test01.log
source/automated_test/Test7/.DS_Store
source/automated_test/Test7/exp/db.hdf5
source/automated_test/Test7/exp/simulation_log.txt
source/automated_test/Test8/.DS_Store
source/automated_test/Test9/db.hdf5
source/automated_test/Test9/postprocessing_log.txt
source/automated_test/Test9/simulation_log.txt
source/automated_test2.log
source/automated_test/testruns/openwarp/test01.h5
source/automated_test/testruns/openwarp/test02.h5
source/automated_test/testruns/openwarp/test09.h5
source/automated_test/testruns/openwarp/test11.h5
source/automated_test/testruns/openwarp/test13.h5
source/automated_test/Test7/exp/postprocessing_log.txt
source/automated_test/Test8/exp/db.hdf5
source/automated_test/Test8/exp/simulation_log.txt
source/automated_test/Test8/.DS_Store
source/automated_test/Test8/exp/postprocessing_log.txt
doc/.DS_Store
source/automated_test/Test10/.DS_Store
source/automated_test/Test11/.DS_Store
source/automated_test/Test7/.DS_Store
source/automated_test/Test7/exp/.DS_Store
source/automated_test/Test8/.DS_Store
source/automated_test/Test8/exp/.DS_Store
source/automated_test/Test9/.DS_Store
source/NemohImproved/Nemoh/Solver/.DS_Store
source/NemohImproved/NemohPython/nemoh/.DS_Store
source/openwarpgui/test_files/remove_irregular_frequencies/.DS_Store
